# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


app/static/images/*
app/backup/*
app/tests/*
website/*
env/*

config.cfg

*.txt
color_converter.py
rgb_cie.py
ssdp.py
setup.py
__init__.py
*/cred.txt